* {
    font-family: "Monsterrat", sans-serif;
}
body {
    background:  f1fbff;
}
.section-padding {
    padding: 100px 0;
}
.carousel-item {
    height: 100vh;
    min-height: 300px;
}
.carousel-caption {
    bottom: 220px;
    z-index: 2;
}
.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 30px;
}
.carousel-caption p {
    font-size: 18px;
    line-height: 1.9;
    margin: auto;
    width: 60%;
}