* {
    font-family: 'Montserrat', sans-serif;
}
body {
    background-image:  #f1fbff;
}
.section-padding {
    padding: 100px 0;
}
.navbar-nav a {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}
.navbar-light .container .navbar-brand {
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #000;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
}
.w-100 {
    height: 100vh;
}
.carousel-item {
    height: 100vh;
    min-height: 300px;
}
.carousel-caption {
    bottom: 220px;
    z-index: 2;
}
.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 50px;
}
.carousel-caption p {
    font-size: 18px;
    line-height: 1.9;
    margin: auto;
    width: 60%;
}
.carousel-inner::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:  rgba(0, 0, 0, 0.7);
    z-index: 1;
}
.services .card-body i {
    font-size: 50px;
}
.portofolio .card-body {
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.team .card-body i {
    font-size: 20px;
}

/* Responsiveness */
@media only screen and (min-width: 767px) and (min-width: 991px) {
    .carousel-caption {
        bottom: 370px;
    }
    .carousel-caption p {
        width: 100%;
    }
}


@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }
    .carousel-caption {
        bottom: 125px;
    }
    .carousel-caption h5 {
        font-size: 17px;
    }
    .carousel-caption a {
        padding: 10px 15px;
    }
    .carousel-caption p {
        font-size: 12px;
        width: 100%;
        line-height: 1.6;
    }
}